:root{
    --mainColor:#049634;
    --secondColor:#04012E;
    --sectionPadding:3vh;
}
@font-face {
    font-family: Poppins ;
    src: url(assets/fonts/Poppins-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins ;
}